/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/08/2016, 10:24:28 PM
    Author     : cfagu
*/
img.list {
    width: 400px;
    height: 300px;
}

img.retrato {
    width: 280px;
    height: 280px;
}

div.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
}